---
- name: "Import public key"
  ansible.builtin.apt_key:
    url: https://www.mongodb.org/static/pgp/server-6.0.asc
    state: present
  register: key

- name: "Create list file"
  ansible.builtin.apt_repository:
    filename: mongodb-org-6.0
    repo: >
      deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-6.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse
    state: present
  register: list

- name: "Update APT cache"
  ansible.builtin.apt:
    update_cache: true
  when: key.changed or list.changed

- name: "Install mongodb"
  ansible.builtin.apt:
    pkg: mongodb-org
  register: mongodb

- name: "Run mongodb service" # noqa: no-handler
  ansible.builtin.systemd_service:
    name: mongod
    state: restarted
    daemon_reload: true
  when: mongodb.changed
