---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: srsdu
  labels:
    app: srsdu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: srsdu
  template:
    metadata:
      labels:
        app: srsdu
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/edge
                    operator: Exists
      containers:
        - name: srsdu
          image: "{{ host_internal_ip }}:5000/mgr/srsdu:latest"
          imagePullPolicy: Always
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
          command: 
            - /script.sh
          stdin: true
          tty: true
          ports:
            - containerPort: 38472
            - containerPort: 2152
            - containerPort: 2000
          env:
            - name: CU_CP_ADDR
              value: srscu-f1ap
            - name: UE_ADDR
              value: "{{ hostvars[ue]['ansible_host'] }}"
          volumeMounts:
            - mountPath: /script.sh
              name: script
            - mountPath: /etc/srsdu.yaml.in
              name: config-in
      volumes:
        - name: script
          hostPath:
            path: "{{ data_dir }}/volumes/scripts/srsdu.sh"
            type: File
        - name: config-in
          hostPath:
            path: "{{ data_dir }}/volumes/configs/srsdu.yaml"
            type: File
---
apiVersion: v1
kind: Service
metadata:
  name: srsdu-f1ap
spec:
  type: ClusterIP
  selector:
    app: srsdu
  ports:
    - protocol: SCTP
      port: 38472
      targetPort: 38472
---
apiVersion: v1
kind: Service
metadata:
  name: srsdu-f1u
spec:
  type: ClusterIP
  selector:
    app: srsdu
  ports:
    - protocol: UDP
      port: 2152
      targetPort: 2152
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: srsdu-f1u
spec:
  podSelector:
    matchLabels:
      app: srsdu
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: srscu
      ports:
        - protocol: UDP
          port: 2152
---
apiVersion: v1
kind: Service
metadata:
  name: srsdu-zmq
spec:
  type: NodePort
  selector:
    app: srsdu
  ports:
    - protocol: TCP
      port: 2000
      targetPort: 2000
      nodePort: 2000
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: srsdu-zmq
spec:
  podSelector:
    matchLabels:
      app: srsdu
  ingress:
    - ports:
        - protocol: TCP
          port: 2000
