.ansible
.vscode
ansible/inventory
host_ip
host_user
host_user_password
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/*.auto.tfvars
terraform/terraform.tfstate*
terraform/.terraform.tfstate*
