---
- name: "Fetch registation token from first control plane"
  become: true
  delegate_to: "{{ k3s_first_cp_node }}"
  ansible.builtin.slurp:
    src: "{{ k3s_data_path }}/server/token"
  register: token_file

- name: "Set common node parameters"
  ansible.builtin.set_fact:
    type: "{{ 'server' if k3s_cp_node_group in group_names else 'agent' }}"
    token: "{{ token_file['content'] | b64decode | trim }}"
    server: "https://{{ k3s_cp_endpoint }}:6443"

- name: "Install k3s node" # noqa: no-changed-when
  ansible.builtin.shell:
    cmd: "set -o pipefail && curl -sfL https://get.k3s.io | sh -"
    executable: /bin/bash
  environment:
    INSTALL_K3S_EXEC: >
      {{ type }}
      --node-name {{ inventory_hostname }}
      --data-dir {{ k3s_data_path }}
      --token {{ token }}
      --server {{ server }}
      --node-ip {{ ansible_host }}
  register: out
  changed_when: out.rc == 0
  failed_when: out.rc != 0
