---
- name: "Check if k3s is present"
  ansible.builtin.stat:
    path: /usr/local/bin/k3s
  register: k3s_binary

- name: "Kill all k3s processes" # noqa: no-changed-when ignore-errors
  ignore_errors: true
  ansible.builtin.command: k3s-killall.sh
  when: k3s_binary.stat.exists

- name: "Uninstall k3s" # noqa: no-changed-when ignore-errors
  ignore_errors: true
  ansible.builtin.command: k3s-uninstall.sh
  when: k3s_binary.stat.exists

- name: "Uninstall k3s agent" # noqa: no-changed-when ignore-errors
  ignore_errors: true
  ansible.builtin.command: k3s-agent-uninstall.sh
  when: k3s_binary.stat.exists

- name: "Remove data dir"
  become: true
  ansible.builtin.file:
    path: "{{ k3s_data_path }}"
    state: absent
  when: >
    (k3s_remove_files is defined and k3s_remove_files)
    and (k3s_remove_data is defined and k3s_remove_data)

- name: "Remove conf dir"
  become: true
  ansible.builtin.file:
    path: "{{ k3s_conf_path }}"
    state: absent
  when: >
    (k3s_remove_files is defined and k3s_remove_files)
    and (k3s_remove_conf is defined and k3s_remove_conf)
