---
- name: "Clear manifests dir"
  ansible.builtin.file:
    path: "{{ data_dir }}/manifests"
    state: absent

- name: "Create manifests dir"
  ansible.builtin.file:
    path: "{{ data_dir }}/manifests"
    state: directory
    mode: "750"

- name: "Execute orchestrator actions: {{ manifests_orchestrator }}"
  ansible.builtin.include_tasks: process.yml
  vars:
    command: "{{ manifests_orchestrator_command[manifests_orchestrator] }}"
  with_fileglob:
    - "{{ role_path }}/templates/manifests/{{ manifests_orchestrator }}/*"
