---
- name: "Clear directories"
  ansible.builtin.file:
    path: "{{ data_dir }}/volumes/{{ item }}"
    state: absent
  with_items:
    - scripts
    - configs
  when: manifests_clear is defined and manifests_clear

- name: "Create directories"
  ansible.builtin.file:
    path: "{{ data_dir }}/volumes/{{ item }}"
    state: directory
    mode: "755"
  with_items:
    - scripts
    - configs

- name: "Copy script files"
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ data_dir }}/volumes/scripts/{{ item | basename }}"
    mode: "755"
  with_fileglob:
    - "{{ role_path }}/templates/regions/{{ region }}/scripts/*"

- name: "Copy config files"
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ data_dir }}/volumes/configs/{{ item | basename }}"
    mode: "644"
  with_fileglob:
    - "{{ role_path }}/templates/regions/{{ region }}/configs/*"
