- name: "Modify inventory host variables"
  ansible.builtin.import_playbook: _modify_inventory_host.yml
  tags:
    - always

- name: "Configure host"
  hosts: host
  become: true
  roles:
    - host
