---
- name: "Configure Nomad"
  hosts: "{{ ansible_limit | default(['control', 'worker']) }}"
  become: true
  pre_tasks:
    - name: "Disable k3s"
      ansible.builtin.include_tasks: tasks/disable_k3s.yml
      when: nomad_uninstall is not defined or not nomad_uninstall
    - name: "Write state change to file"
      delegate_to: localhost
      become: false
      ansible.builtin.copy:
        content: "nomad"
        dest: "state"
        mode: "644"
      when: nomad_uninstall is not defined or not nomad_uninstall
  roles:
    - role: vms
      when: skip_vms is not defined or not skip_vms
    - role: nomad
      vars:
        nomad_root_path: "{{ data_dir }}"
        nomad_first_cp_node: "{{ first_cp_node }}"
        nomad_cp_node_group: "{{ cp_node_group }}"
        nomad_worker_node_group: "{{ worker_node_group }}"
