---
- name: SSH Port Forwarding with tmux
  hosts: localhost
  pre_tasks:
    - name: "Include task: modify_host_vars"
      ansible.builtin.include_tasks: tasks/modify_host_vars.yml
  tasks:
    - name: Start a new tmux session for SSH port forwarding # noqa: no-changed-when ignore-errors
      vars:
        node_ip: "{{ hostvars[first_cp_node]['ansible_host'] }}"
      ansible.builtin.shell: >
        tmux kill-session -t ssh_forwarding &&
        tmux new-session -d -s ssh_forwarding
        "ssh -N -L 6443:{{ node_ip }}:6443 -L 8500:{{ node_ip }}:8500 -L 4646:{{ node_ip }}:4646
        {{ hostvars['host']['ansible_user'] }}@{{ hostvars['host']['ansible_host'] }}"
