datacenter = "cluster"
data_dir = "{{ nomad_data_path }}"
name = "{{ inventory_hostname }}"
bind_addr = "0.0.0.0"
advertise {
  http = "{{ hostvars[inventory_hostname]['ansible_host'] }}"
  rpc = "{{ hostvars[inventory_hostname]['ansible_host'] }}"
  serf = "{{ hostvars[inventory_hostname]['ansible_host'] }}"
}
{% if inventory_hostname in groups[nomad_cp_node_group] %}
server {
  enabled = true
  bootstrap_expect = {{ groups[nomad_cp_node_group] | length }}
}
{% elif inventory_hostname in groups[nomad_worker_node_group] %}
client {
  enabled = true
  network_interface = "{{ vm_internal_network_interface }}"
  {% if nomad_meta is defined %}
  meta {
    {% for key, value in nomad_meta.items() %}
    {{ key }} = "{{ value }}"
    {% endfor %}
  }
  {% endif %}
}
{% endif %}
plugin "docker" {
  config {
    endpoint = "unix:///var/run/docker.sock"

    gc {
      image       = true
      image_delay = "3m"
      container   = true

      dangling_containers {
        enabled        = true
        dry_run        = false
        period         = "5m"
        creation_grace = "5m"
      }
    }

    volumes {
      enabled      = true
    }

    allow_privileged = false
    allow_caps       = ["audit_write", "chown", "dac_override", "fowner", "fsetid", "kill", "mknod",
                        "net_bind_service", "setfcap", "setgid", "setpcap", "setuid", "sys_chroot",
                        "net_raw", "net_admin"]
  }
}
